<%- include('../partials/headerlogin.ejs') %>

  <form method="POST" action="/auth/login">

    <div class="form">

      <h3>Log in here</h3>

      <p><%= message %></p>

          <div>
            <label for="username" class="label-username">
              <span class="content-username">Username</span>
            </label>
            <input 
              id="username" 
              type="text" 
              name="username" 
              placeholder="Enter your username"
              autocomplete="off"
            />
          </div>
          <div>
            <label for="password" class="label-password">
              <span class="content-password">Password</span>
            </label>
            <input 
              id="password"
              type="password" 
              name="password"
              placeholder="Enter your password"
              autocomplete="off"
            />
          </div>
          <button>Log in!</button>

    </div>

  </form>

<%- include('../partials/footer.ejs') %>