<%- include('../partials/header.ejs') %>

	<h3>Sign up here</h3>

	<form method="POST" action="/auth/register">
		<h1>Register</h1>

		<div class="form">
			<div>
				<label for="username" class="label-username">
					<span class="content-username">Username</span>
				</label>
				<input 
					id="username" 
					type="text" 
					name="username"
					placeholder="Create a username" 
					autocomplete="off" 
				/>
			</div>
			<div>
				<label for="password" class="label-password">
					<span class="content-password">Password</span>
				</label>
				<input 
					id="password" 
					type="password" 
					name="password"
					placeholder="Create a password" 
					autocomplete="off"
				/>
			</div>
			<div>
	          <label for="firstname" class="label-firstname">
	          	<span class="content-firstname">First name</span>
	          </label>
	          <input 
	            id="firstname" 
	            type="text" 
	            name="firstname" 
	            placeholder="Enter your first name" 
	            autocomplete="off"
	          />
	        </div>
	        <div>
	          <label for="lastname" class="label-lastname">
	          	<span class="content-lastname">Last name</span>
	          </label>
	          <input 
	            id="lastname" 
	            type="text" 
	            name="lastname" 
	            placeholder="Enter your last name" 
	            autocomplete="off"
	          />
	        </div>
	        <div>
	          <label for="date" class="label-date">
	          	<span class="content-date">Date</span>
	          </label>
	          <input 
	            id="date" 
	            type="date" 
	            name="date" 
	            placeholder="i.e 1993-05-28" 
	            min="1900-01-01" 
	            max="2002-01-01" 
	          />
	        </div>
	        <div>
	          <label for="hometown" class="label-hometown">
	          	<span class="content-hometown">Hometown</span>
	          </label>
	          <input 
	            id="hometown" 
	            type="text" 
	            name="hometown" 
	            placeholder="Enter the name of your hometown" 
	            autocomplete="off"
	          />
	        </div>
	        <div>
	          <label for="email" class="label-email">
	          	<span class="content-email">Email</span>
	          </label>
	          <input 
	            id="email" 
	            type="text" 
	            name="email" 
	            placeholder="Enter your email address" 
	            autocomplete="off"
	          />
	        </div>
			<button>Sign up</button>
		</div>
	</form>

<%- include('../partials/footer.ejs') %>