<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

	<header>

		<nav id="navbar">

			<ul id="navbar-nav">
				<li class="logo">
					<a href="" class="nav-link">
						<span class="link-text">TAVRN.</span>
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
						width="50" height="50"
						viewBox="0 0 172 172"
						style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M15.48,77.4h108.36l-18.92,-18.92l12.04,-12.04l27.52,27.52l12.04,12.04l-12.04,12.04l-27.52,27.52l-12.04,-12.04l18.92,-18.92h-108.36z" fill="#f3ff00"></path><path d="M116.96,127.28c-0.44032,0 -0.88064,-0.16856 -1.21604,-0.50396l-12.04,-12.04c-0.67252,-0.67252 -0.67252,-1.75956 0,-2.43208l15.98396,-15.98396h-104.20792c-0.95116,0 -1.72,-0.77056 -1.72,-1.72v-17.2c0,-0.94944 0.76884,-1.72 1.72,-1.72h104.20792l-15.98396,-15.98396c-0.67252,-0.67252 -0.67252,-1.75956 0,-2.43208l12.04,-12.04c0.67252,-0.67252 1.75956,-0.67252 2.43208,0l39.56,39.56c0.67252,0.67252 0.67252,1.75956 0,2.43208l-39.56,39.56c-0.3354,0.3354 -0.77572,0.50396 -1.21604,0.50396zM107.35208,113.52l9.60792,9.60792l37.12792,-37.12792l-37.12792,-37.12792l-9.60792,9.60792l17.70396,17.70396c0.49192,0.49192 0.63984,1.23152 0.37324,1.8748c-0.26488,0.64156 -0.8944,1.06124 -1.58928,1.06124h-106.64v13.76h106.64c0.69488,0 1.3244,0.41968 1.58928,1.06124c0.2666,0.64328 0.11868,1.38288 -0.37324,1.8748z" fill="#1f212b"></path><path d="M127.28,68.8c-0.22016,0 -0.44032,-0.08428 -0.60888,-0.25112l-8.6,-8.6c-0.3354,-0.3354 -0.3354,-0.88064 0,-1.21604c0.3354,-0.3354 0.88064,-0.3354 1.21604,0l8.6,8.6c0.3354,0.3354 0.3354,0.88064 0,1.21604c-0.16684,0.16684 -0.387,0.25112 -0.60716,0.25112zM138.46,79.98c-0.22016,0 -0.44032,-0.08428 -0.60888,-0.25112l-4.3,-4.3c-0.3354,-0.3354 -0.3354,-0.88064 0,-1.21604c0.3354,-0.3354 0.88064,-0.3354 1.21604,0l4.3,4.3c0.3354,0.3354 0.3354,0.88064 0,1.21604c-0.16684,0.16684 -0.387,0.25112 -0.60716,0.25112zM118.68,113.52c-0.22016,0 -0.44032,-0.08428 -0.60888,-0.25112c-0.3354,-0.3354 -0.3354,-0.88064 0,-1.21604l18.92,-18.92c0.3354,-0.3354 0.88064,-0.3354 1.21604,0c0.3354,0.3354 0.3354,0.88064 0,1.21604l-18.92,18.92c-0.16684,0.16684 -0.387,0.25112 -0.60716,0.25112zM145.34,86.86c-0.22016,0 -0.44032,-0.08428 -0.60888,-0.25112l-2.58,-2.58c-0.3354,-0.3354 -0.3354,-0.88064 0,-1.21604c0.3354,-0.3354 0.88064,-0.3354 1.21604,0l2.58,2.58c0.3354,0.3354 0.3354,0.88064 0,1.21604c-0.16684,0.16684 -0.387,0.25112 -0.60716,0.25112z" fill="#1f212b"></path></g></g></svg>
					</a>
				</li>
				<li class="nav-item">
					<a href="/" class="nav-link">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
						width="50" height="50"
						viewBox="0 0 172 172"
						style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e67e22"><path d="M86,3.61469c-0.7482,0 -1.49345,0.23731 -2.12985,0.71891l-79.12,61.75203c-1.4792,1.1696 -1.75413,3.33062 -0.58453,4.84422c1.1696,1.4792 3.33062,1.75413 4.84422,0.58453l4.75016,-3.70875v90.43437c0,1.892 1.548,3.44 3.44,3.44h48.16v-61.92h41.28v61.92h48.16c1.892,0 3.44,-1.548 3.44,-3.44v-90.43437l4.75015,3.70875c0.6536,0.4816 1.37305,0.72563 2.12985,0.72563c1.032,0 2.02638,-0.45015 2.71437,-1.31015c1.1696,-1.5136 0.89467,-3.67462 -0.58453,-4.84422l-79.12,-61.75203c-0.6364,-0.4816 -1.38165,-0.71891 -2.12985,-0.71891zM120.4,17.2v3.61469l20.64,16.09813v-19.71281z"></path></g></g></svg>
						<span class="link-text">Home</span>
					</a>
				</li>
				<% if(loggedIn) { %>
					<li class="nav-item">
						<a href="/thread/" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="50" height="50"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f1c40f"><path d="M37.625,21.5c-12.84267,0 -23.29167,10.449 -23.29167,23.29167v78.95931c0,3.38625 1.87134,6.45526 4.89209,7.99251c1.29,0.65933 2.69008,0.97282 4.07324,0.97282c1.85617,0 3.6971,-0.57518 5.26302,-1.71468l32.30599,-23.50163h44.84066c12.84267,0 23.29167,-10.449 23.29167,-23.29167v-39.41667c0,-12.84267 -10.449,-23.29167 -23.29167,-23.29167zM136.16667,50.23665v33.97168c0,16.80583 -13.6525,30.45833 -30.45833,30.45833h-42.49609l-15.95003,11.57585c4.1925,5.98417 11.18196,9.92415 19.02946,9.92415h44.82666l32.31999,23.50863c1.57667,1.14667 3.40669,1.71468 5.27002,1.71468c1.36167,0 2.76224,-0.31998 4.05224,-1.00081c3.04583,-1.505 4.90609,-4.58919 4.90609,-7.95752v-78.97331c0,-12.21917 -9.49583,-22.29001 -21.5,-23.22168z"></path></g></g></svg>
							<span class="link-text">Threads</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/thread/new" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="50" height="50"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="Layer_1"><path d="M12.09375,25.53125v120.9375c0,7.39063 6.04688,13.4375 13.4375,13.4375h120.9375c7.39063,0 13.4375,-6.04687 13.4375,-13.4375v-134.375h-134.375c-7.39062,0 -13.4375,6.04688 -13.4375,13.4375z" fill="#2ecc71"></path><path d="M171.4625,18.14063c0,-1.075 -0.40313,-2.15 -1.20938,-2.82188v0c-8.86875,-8.86875 -23.38125,-8.86875 -32.38437,0l-47.8375,47.8375c-0.80625,0.80625 -1.20938,1.74688 -1.20938,2.82188c0,1.075 0.40313,2.15 1.20938,2.82187l7.525,7.525c1.34375,1.34375 1.74688,3.62813 0.67188,5.24062c-1.47812,2.15 -4.43437,2.41875 -6.18125,0.67188l-7.525,-7.525c-0.94062,-0.94063 -2.28437,-1.34375 -3.62812,-1.075c-1.34375,0.26875 -2.41875,1.20937 -2.95625,2.41875l-9.54062,22.84375c-0.67187,1.47812 -0.26875,3.225 0.80625,4.43438v0c1.20938,1.20938 2.95625,1.47812 4.43438,0.80625l22.70937,-9.54062v0v0c0,0 0,0 0.13437,0c0.26875,-0.13437 0.40313,-0.26875 0.67188,-0.40313c0.13437,0 0.13437,-0.13437 0.26875,-0.13437c0.13437,-0.13437 0.13437,-0.13437 0.26875,-0.26875l11.42188,-11.42187l61.275,-61.14063c0.67188,-0.94062 1.075,-2.01562 1.075,-3.09062z" fill="#444b54"></path><path d="M146.46875,163.9375h-120.9375c-9.675,0 -17.46875,-7.79375 -17.46875,-17.46875v-120.9375c0,-9.675 7.79375,-17.46875 17.46875,-17.46875h80.625c2.28437,0 4.03125,1.74687 4.03125,4.03125c0,2.28437 -1.74688,4.03125 -4.03125,4.03125h-80.625c-5.24063,0 -9.40625,4.16562 -9.40625,9.40625v120.9375c0,5.24062 4.16562,9.40625 9.40625,9.40625h120.9375c5.24062,0 9.40625,-4.16563 9.40625,-9.40625v-80.625c0,-2.28438 1.74687,-4.03125 4.03125,-4.03125c2.28438,0 4.03125,1.74687 4.03125,4.03125v80.625c0,9.675 -7.79375,17.46875 -17.46875,17.46875z" fill="#444b54"></path></g></g></svg>
							<span class="link-text">Create Thread</span>
						</a>
					</li>
				<% } %>
				
				<% if(loggedIn) { %>
					<li class="nav-item">
						<a href="/user/" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="48" height="48"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM86,34.04167c12.86417,0 23.29167,10.4275 23.29167,23.29167c0,12.86417 -10.4275,23.29167 -23.29167,23.29167c-12.86417,0 -23.29167,-10.4275 -23.29167,-23.29167c0,-12.86417 10.4275,-23.29167 23.29167,-23.29167zM86,143.33333c-17.47233,0 -33.11717,-7.81883 -43.63067,-20.15267c-2.7305,-3.2035 -2.12133,-8.01233 1.23983,-10.54217c10.87183,-8.17717 30.6805,-12.30517 42.39083,-12.30517c11.71033,0 31.519,4.128 42.398,12.30517c3.36117,2.52983 3.97033,7.34583 1.23983,10.54217c-10.52067,12.33383 -26.1655,20.15267 -43.63783,20.15267z"></path></g></g></svg>
							<span class="link-text">Profile</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/auth/logout" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="50" height="50"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#3498db"><path d="M86,24.08c-25.91868,0 -49.30229,16.35239 -58.18437,40.69211c-0.32336,0.89096 0.13357,1.87867 1.02797,2.20375c0.89096,0.32508 1.87867,-0.13193 2.20375,-1.02461c8.38844,-22.98608 30.47362,-38.43125 54.95266,-38.43125c32.24656,0 58.48,26.23344 58.48,58.48c0,32.24656 -26.23344,58.48 -58.48,58.48c-24.47904,0 -46.56422,-15.44353 -54.95266,-38.42789c-0.32508,-0.89268 -1.31107,-1.35305 -2.20375,-1.02797c-0.89268,0.3268 -1.35133,1.31443 -1.02797,2.20711c8.88208,24.338 32.26569,40.68875 58.18438,40.68875c34.14372,0 61.92,-27.77628 61.92,-61.92c0,-34.14372 -27.77628,-61.92 -61.92,-61.92zM86,32.68c-20.95476,0 -40.05219,12.35291 -48.65047,31.46727c-0.19436,0.42828 -0.0018,0.94111 0.43336,1.13547c0.43344,0.19436 0.94111,0.00344 1.13547,-0.43c8.32136,-18.50032 26.80284,-30.45273 47.08164,-30.45273c6.10256,0 12.07806,1.05638 17.76438,3.14102c0.44548,0.1634 0.94011,-0.06678 1.10523,-0.51398c0.0344,-0.09804 0.05039,-0.19587 0.05039,-0.29563c0,-0.35088 -0.21522,-0.67897 -0.56437,-0.80625c-5.87552,-2.15344 -12.05183,-3.24516 -18.35563,-3.24516zM109.27039,38.08859c-0.335,-0.01975 -0.66438,0.1584 -0.82305,0.47703c-0.20812,0.4214 -0.03687,0.93899 0.38969,1.15227c1.15068,0.57104 2.28889,1.1875 3.38625,1.83422c0.40936,0.2408 0.93662,0.10366 1.17914,-0.3057c0.08084,-0.1376 0.11758,-0.28708 0.11758,-0.43672c0,-0.29412 -0.1498,-0.58082 -0.42328,-0.73906c-1.13176,-0.66736 -2.30867,-1.30473 -3.49375,-1.89469c-0.10664,-0.05246 -0.22091,-0.08076 -0.33258,-0.08734zM115.95219,42.18031c-0.21672,0.03784 -0.41756,0.16087 -0.5543,0.35609c-0.27176,0.38528 -0.18216,0.92246 0.20828,1.19594c0.57104,0.40248 1.13421,0.81477 1.68976,1.23961c0.3784,0.28724 0.91706,0.21715 1.20602,-0.16125c0.1204,-0.15652 0.17805,-0.34174 0.17805,-0.52406c0,-0.258 -0.11406,-0.51339 -0.33594,-0.68195c-0.57276,-0.4386 -1.15856,-0.8654 -1.75024,-1.27992c-0.1935,-0.13674 -0.42492,-0.18229 -0.64164,-0.14445zM121.21969,46.29891c-0.21973,0.01054 -0.43465,0.10253 -0.59461,0.27883c-0.3182,0.34916 -0.29377,0.89445 0.05711,1.21609c10.75172,9.76616 16.91781,23.69109 16.91781,38.20617c0,28.45224 -23.14776,51.6 -51.6,51.6c-20.2788,0 -38.76028,-11.95241 -47.08164,-30.45273c-0.19436,-0.43344 -0.70203,-0.62436 -1.13547,-0.43c-0.43516,0.19436 -0.62772,0.70719 -0.43336,1.13547c8.59828,19.11436 27.69571,31.46727 48.65047,31.46727c29.40168,0 53.32,-23.91832 53.32,-53.32c0,-15.00012 -6.37099,-29.38814 -17.48219,-39.47937c-0.17544,-0.15996 -0.3984,-0.23225 -0.61813,-0.22172zM34.66203,68.8168c-0.87913,-0.06622 -1.78611,0.20213 -2.51281,0.82305l-15.47664,13.75328c-1.5222,1.31064 -1.50148,3.92907 -0.00336,5.20703l15.49008,13.76672c0.62436,0.53492 1.41518,0.82977 2.23734,0.82977c1.00792,0 1.96335,-0.43734 2.61695,-1.1993c0.59856,-0.69832 0.88513,-1.59113 0.81633,-2.50273c-0.0688,-0.91676 -0.49122,-1.74825 -1.17578,-2.33477l-8.63359,-7.71984h54.53945c1.89716,0 3.44,-1.54284 3.44,-3.44c0,-1.89716 -1.54284,-3.44 -3.44,-3.44h-54.54281l8.62016,-7.70977c0.69832,-0.59684 1.12042,-1.43144 1.18922,-2.3482c0.07052,-0.90816 -0.21941,-1.80269 -0.81969,-2.50273c-0.61576,-0.71724 -1.46571,-1.11628 -2.34484,-1.1825zM34.53102,70.53008c0.43903,0.03332 0.8654,0.23263 1.17242,0.59125c0.29928,0.35088 0.44769,0.79725 0.40985,1.25305c-0.0344,0.4558 -0.24513,0.87118 -0.60805,1.1825l-10.30992,9.22148c-0.2666,0.23736 -0.3608,0.61186 -0.2318,0.9507c0.12556,0.33196 0.44685,0.55094 0.80289,0.55094h56.79359c0.94944,0 1.72,0.77056 1.72,1.72c0,0.94944 -0.77056,1.72 -1.72,1.72h-56.79023c-0.35604,0 -0.67561,0.21898 -0.80289,0.55094c-0.03784,0.10148 -0.05711,0.20586 -0.05711,0.30906c0,0.2408 0.10143,0.4748 0.28891,0.64164l10.32336,9.23156c0.34916,0.29928 0.56021,0.71826 0.59461,1.17578c0.03612,0.45408 -0.11056,0.90053 -0.40984,1.24969c-0.3268,0.38184 -0.80284,0.60133 -1.3068,0.60133c-0.41796,0 -0.80415,-0.14169 -1.10859,-0.40313l-15.49344,-13.77344c-0.75852,-0.64844 -0.76204,-1.94811 0.00336,-2.60687c0.00344,-0.00172 0.00664,-0.00664 0.01008,-0.01008l15.46992,-13.74992c0.36034,-0.30788 0.81066,-0.43981 1.24969,-0.40649z"></path></g></g></svg>
							<span class="link-text">Log Out</span>
						</a>
					</li>
				<% } else { %>
					<li class="nav-item">
						<a href="/auth/register" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="50" height="50"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#9b59b6"><path d="M101.53711,7.16667l-51.37044,51.46842v91.86491h88.22559l26.44108,-61.56055v-31.60612h-59.85286l8.39843,-38.50684zM7.16667,64.5v86h28.66667v-86z"></path></g></g></svg>
							<span class="link-text">Register</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/auth/login" class="nav-link">
							<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							width="50" height="50"
							viewBox="0 0 172 172"
							style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#1abc9c"><path d="M86,8.13074c-19.95469,0 -39.90938,7.59114 -55.09375,22.77551c-30.36875,30.36875 -30.36875,79.81875 0,110.1875c15.18437,15.18437 35.20625,22.84375 55.09375,22.84375c19.8875,0 39.90937,-7.65938 55.09375,-22.84375c1.6125,-1.6125 1.6125,-4.16458 0,-5.6427c-1.6125,-1.6125 -4.16458,-1.6125 -5.6427,0c-27.27812,27.27812 -71.62187,27.27812 -98.76562,0c-27.27812,-27.27812 -27.28022,-71.62397 -0.13647,-98.9021c27.27812,-27.14375 71.62397,-27.14375 98.9021,0c1.47813,1.6125 4.0302,1.6125 5.6427,0c1.6125,-1.6125 1.6125,-4.16458 0,-5.6427c-15.18438,-15.18437 -35.13906,-22.77551 -55.09375,-22.77551zM137.0625,61.8125c-0.94063,0 -2.0151,0.40365 -2.82135,1.2099c-1.6125,1.6125 -1.6125,4.16457 0,5.6427l13.30365,13.30365h-41.38855c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125c0,2.28437 1.74688,4.03125 4.03125,4.03125h41.38855l-13.30365,13.30365c-1.6125,1.6125 -1.6125,4.16457 0,5.6427c1.6125,1.6125 4.16458,1.6125 5.6427,0l20.15625,-20.15625c0.80625,-0.80625 1.2099,-1.74635 1.2099,-2.82135c0,-1.075 -0.40365,-2.0151 -1.2099,-2.82135l-20.15625,-20.15625c-0.80625,-0.80625 -1.88073,-1.2099 -2.82135,-1.2099zM86,81.96875c-2.2264,0 -4.03125,1.80485 -4.03125,4.03125c0,2.2264 1.80485,4.03125 4.03125,4.03125c2.2264,0 4.03125,-1.80485 4.03125,-4.03125c0,-2.2264 -1.80485,-4.03125 -4.03125,-4.03125z"></path></g></g></svg>
							<span class="link-text">Login</span>
						</a>
					</li>
				<% } %>

			</ul>

		</nav>

	</header>

	<main>