<%- include('./partials/header.ejs') %>
	
	<div id="home-container">

		<div>
			<p id="res-message"><%= message %></p>
		</div>

		<h1 id="tavrn">TAVRN.</h1>

	</div>

<%- include('./partials/footer.ejs') %>