body.general {
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	/*Animated responsive navbar - Fireship*/
	margin: 0;
	padding: 0;
}

body.home {
	background: url(https://i.imgur.com/lkRyc1K.jpg);
	background-size: cover;
  	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	/*Animated responsive navbar - Fireship*/
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
}

/*Animated responsive navbar - Fireship*/
#navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: #1B1B1F;
	transition: width 200ms ease;
}

#navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: filter 300ms ease;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
}

.link-text {
	display: none;
	margin-left: : 1rem;
}

.nav-link svg {
	min-width: 2rem;
	margin: 0 1.5rem;
}

#navbar:hover {
	width: 16rem;
}

#navbar:hover .link-text {
	display: block;
}

.link-text {
	color: whitesmoke;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo svg {
	transform: rotate(0deg);
	transition: transform 300ms ease;
}

#navbar:hover .logo svg {
	transform: rotate(-180deg);

}

main {
	margin-left: 5rem;
	padding: 1rem;
}
/*Animated responsive navbar END - Fireship*/

h3 {
	text-align: center;
}

form {
	margin: 0 auto;
	width: max-content;
	text-align: center;
}

#home-container {
	position: relative;
}

#tavrn {
	display: flex;
	justify-content: center;
	font-family: 'Abril Fatface', cursive;
}

#res-message {
	display: flex;
	justify-content: flex-end;
}

/*Register and Login*/
.form {
 	width: max-content;
 	position: relative;
 	height: 50px;
}

.form input {
	display: flex;
	justify-content: center;
	text-align: center;
	width: max-content;
	/*color: #0bc6fd;*/
	padding-top: 5px;
	margin-bottom: 10px;
	background: transparent;
	border: none;
}

button {
	height: 35px;
	width: 125px;
	border-radius: 10px;
	border: none;
	background-color: #0bc6fd;
}

/*Thread index styling*/

a {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
}

.thread-index {
	list-style-type: none;
	background-color: #1B1B1F;
	border-radius: 10px;
	width: 1255px;
}

.thread-index-content {
	margin-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #fdfbfb;
}

.small {
	font-size: small;
}

a.thread-link {
	color: #0bc6fd;
}