<%- include('../partials/header.ejs') %>

  <form method="POST" action="/thread">

    <div class="form">

      <div>
    	 <h3>Start A Thread</h3>
      </div>

      <div>
        <div>
          <label for="title" class="label-title">
            <span class="content-title">Title</span>
          </label>
          <input type="text" name="title" id="title" placeholder="Enter title name" autocomplete="off"/>
        </div>
        <div>
          <label for="description" class="label-description">
            <span class="content-description">Description</span>
          </label>
          <input type="textarea" name="description" id="description" placeholder="Enter description" autocomplete="off"/>
        </div>
        <button>Post</button>
      </div>

    </div>

  </form>
