<%- include('../partials/header.ejs') %>

	<div id="show-container">
		
		<div id="thread-show">
			<p><%= thread.title %></p>
			<p><%= thread.threadDescription %></p>
		</div>

	</div>

	<!-- Show comments -->

	<!-- If user, show add comment -->

	<!-- If thread belongs to user, show admin tools -->

<%- include('../partials/footer.ejs') %>